mixin menu-entry(name, price, description)
  details.menu-item
    summary
      .name-wrapper
        svg(style=description ? 'display: inline-block;' : 'display:none;' width="10" height="10" viewBox="0 0 10 10")
          polygon(points="0,0 10,5 0,10" fill="red")
        h4.card-title=name
      p.price #{price} lei
    if description
      p=description