main.menu-body > section {
  color: white;
}

main.menu-body > section {
  transition: all 1s ease-in-out;
  background-color: var(--color-yellow);
}

main.menu-body > section {
  padding: .1rem
}

main.menu-body > section:first-child > .heading-wrapper {
  display: none;
}

main.menu-body > section:last-child {
  padding-bottom: 2rem;
}

main.menu-body > section > .heading-wrapper {
  display: flex;
  gap: .5rem;
  padding-left: 1rem;
  color: var(--color-black);
  font-size: large;
  padding-bottom: .2rem;
  padding-top: 1rem;
}

main.menu-body section > .sub-cat-header {
  background: linear-gradient(to right, var(--color-orange), var(--color-yellow));
  color: var(--color-grey);
  padding-left: 1rem;
  padding-top: .3rem;
  padding-bottom: .3rem;
  letter-spacing: .1rem;
}

main.menu-body > section .select-type-wrapper {
  display: flex;
  width: 30rem;
  overflow-x: auto;
  background-color: var(--color-black);
  clip-path: polygon(.5rem 0, 100% 0, calc(100% - .5rem) 100%, 0 100%);
  -webkit-clip-path: polygon(.5rem 0, 100% 0, calc(100% - .5rem) 100%, 0 100%);
}

main.menu-body > section .select-type-wrapper label {
  flex: 1 1 0;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-black);
  padding: .4rem 1rem;
  font-weight: bold;
  transition: background-color .2s ease-in-out;
  clip-path: polygon(.5rem 0, 100% 0, calc(100% - .5rem) 100%, 0 100%);
  -webkit-clip-path: polygon(.5rem 0, 100% 0, calc(100% - .5rem) 100%, 0 100%);
}

main.menu-body > section .select-type-wrapper input:checked + label {
  background-color: var(--color-orange);
  color: var(--color-black);
}

main.menu-body > section > section {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity .5s ease, height .5s ease;
}

main.menu-body > section:has(#p-50cm:checked) #p-50cm,
main.menu-body > section:has(#p-30cm:checked) #p-30cm {
  opacity: 1;
  height: auto;
}

main.menu-body > section:has(#p-Mica:checked) #p-Mica,
main.menu-body > section:has(#p-Mare:checked) #p-Mare,
main.menu-body > section:has(#p-Farfurie:checked) #p-Farfurie {
  opacity: 1;
  height: auto;
}

main.menu-body >  section:has(#p-Pui:checked) #p-Pui,
main.menu-body >  section:has(#p-Porc:checked) #p-Porc,
main.menu-body >  section:has(#p-Vită:checked) #p-Vită {
  opacity: 1;
  height: auto;
}

main.menu-body .menu-item {
  background: linear-gradient(to right, var(--color-black), var(--color-grey));
  border-bottom: .1rem solid var(--color-yellow);
}

.menu-item .img-responsive {
  width: 10rem;
  height: auto;
}

main.menu-body .menu-item .arrow {
  fill: var(--color-orange);
  flex-shrink: 0;
}

main.menu-body .menu-item > summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

main.menu-body .menu-item > summary > .name-wrapper {
  display: flex;
  align-items: baseline;
  gap: .5rem;
}

main.menu-body .menu-item > summary::-webkit-details-marker {
  display: none;
}

main.menu-body .menu-item h4 {
  font-weight: 400 !important;
  padding-right: 1rem;
}

main.menu-body .menu-item > p  {
  background-color: var(--color-grey);
  padding: 1rem 2rem 1rem;
  display: block;
}

main.menu-body .menu-item .price {
  color: var(--color-orange);
  font-weight: bold;
  font-size: larger;
  padding-left: 1rem;
  text-wrap: nowrap;
}

/* Arrow transition START */
main.menu-body .menu-item > summary > .name-wrapper > svg {
  transition: transform .1s ease-in-out;
}

main.menu-body .menu-item[open] .name-wrapper > svg {
  transform: rotate(90deg);
}
/* Arrow transition FINISH */
