main.menu-body > section {
  color: white;
}

main.menu-body > section {
  transition: all 1s ease-in-out;
  background-color: var(--color-yellow);
}

main.menu-body > section {
  padding: .1rem
}

main.menu-body > section:first-child {
  padding-top: .5rem;
}

main.menu-body > section > h2 {
  padding: 1rem;
  color: var(--color-black);
}

main.menu-body .menu-item {
  background-color: var(--color-black);
  border-bottom: .1rem solid var(--color-yellow);
}

main.menu-body .menu-item .arrow {
  fill: var(--color-orange)
}

main.menu-body .menu-item > summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

main.menu-body .menu-item > summary > .name-wrapper {
  display: flex;
  align-items: center;
  gap: .5rem;
}

main.menu-body .menu-item > summary::-webkit-details-marker {
  display: none;
}

main.menu-body .menu-item h4 {
  font-weight: 400 !important;
  padding-right: 1rem;
}

main.menu-body .menu-item > p  {
  padding: 1rem 2rem 1rem;
  display: block;
}

main.menu-body .menu-item .price {
  color: var(--color-orange);
  font-weight: bold;
  font-size: larger;
  padding-left: 1rem;
  text-wrap: nowrap;
}

/* Arrow transition START */
main.menu-body .menu-item > summary > .name-wrapper > svg {
  transition: transform .1s ease-in-out;
}

main.menu-body .menu-item[open] .name-wrapper > svg {
  transform: rotate(90deg);
}
/* Arrow transition FINISH */

/* Details description transition START */
main.menu-body .menu-item::details-content {
  block-size: 0;
  transition-property: block-size, content-visibility;
	transition-duration: .3s;
	transition-behavior: allow-discrete;
  transition-timing-function: ease-in-out;
  color: transparent;
  background-color: var(--color-grey);
}

main.menu-body .menu-item[open]::details-content {
	block-size: auto;
	block-size: calc-size(auto, size);
  color: var(--color-white);
}
/* Details description transition FINISH  */
