.menu-header {
  position: sticky;
  top: 0;
}

.active {
  color: var(--color-black) !important;
  transition-property: background-color, color;
  transition-duration: .5s;
  background-color: var(--color-yellow) !important;
  border-radius: .1rem;;
}

.menu-header > ul {
  display: flex;
  background-color: var(--color-black);
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  list-style-type: none;
  border-bottom: .1rem double var(--color-yellow);
}

.menu-header > ul > li {
  padding: .5rem 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: var(--color-white);
  /* border-right: .1rem solid var(--color-yellow); */
}

.menu-header > ul > li {
  background-color: var(--color-black);
}

.menu-header > ul > li:last-child {
  border-right: 0;
}

.menu-header > ul > li > a {
  text-decoration: none;
  color: inherit;
}