.widget {
  position: sticky;
  display: block;
  left: 75%;
  bottom: 0;
  width: 100px;
  height: 100px;
  animation-name: bounce;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-iteration-count: 50;
  animation-delay: 20s;
}

.widget:hover {
  animation-play-state: paused;
}

.widget-img {
  width: 100%;
  height: 100%;
}

@keyframes bounce {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  20% {
    transform: translateY(-0.3rem) rotate(20deg);
  }
  30% {
    transform: translateY(0) rotate(10deg)
  }
  40% {
    transform: translateY(0) rotate(0deg)
  }
}