.widget {
  position: fixed;
  padding: 1rem;
  right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  bottom: 5px;
  border-radius: 10px;
  font-size: larger;
  font-weight: bolder;
  color: var(--color-orange);
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.5) 70%,
    rgba(0, 0, 0, 0.9) 100%
  );
  backdrop-filter: blur(10px) saturate(155%);
  -webkit-backdrop-filter: blur(10px) saturate(155%);
  border: 2px solid var(--color-orange);
}

.widget-img {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
}
